.app {
  top: 50px;
  display: grid;
  position: relative;
  background-color: #000;
  min-height: calc(100vh - 50px);
}

/*
  Card component
*/

.cardLink {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  padding-bottom: 10px;
  background-size: 90%;
  align-items: flex-end;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: top 25% center;
  border: 0.1px solid rgb(98, 81, 81, 0.5);
  will-change: color, background-color, transform;
}
.cardLink:focus-visible,
.cardLink:hover {
  transform: scale(1.04);
  color: var(--secondary);
  background-color: #2b2c2d;
}

/*
  Btn component
*/

.btn {
  width: 200px;
  padding: 15px;
  display: block;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
  letter-spacing: 3px;
  border-color: transparent;
  background-color: #007bff;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px 0 rgba(122, 117, 117, 0.2),
    0 6px 20px 0 rgba(180, 164, 164, 0.19);
}
.btn:hover {
  background-color: #125399;
}

/*
  Form component
*/

form {
  gap: 30px;
  display: flex;
  padding: 50px;
  max-width: 90%;
  min-width: 250px;
  min-height: 250px;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgb(28, 27, 27);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
form.error input {
  border: 2px solid red;
}
form.error [role="alert"] {
  color: red;
  font-size: 14px;
  text-align: center;
  font-family: cursive;
}
.title {
  text-align: center;
  margin-bottom: 15px;
}
form .btn {
  width: 150px;
  margin: auto;
}
.redirect {
  font-size: 13px;
  text-align: center;
}
.redirect a {
  color: #007bff;
}
@media (max-width: 500px) {
  form {
    padding: 30px 15px;
  }
}

/*
  Input component
*/

label {
  gap: 15px;
  display: grid;
  font-size: 15px;
  align-items: center;
  grid-template-columns: 70px calc(100% - 70px);
}
label strong {
  font-weight: 500;
}
input {
  border: none;
  padding: 5px;
  font: inherit;
  margin-top: 5px;
  font-family: cursive;
  outline-color: #007bff;
}
::placeholder {
  font-family: "Permanent Marker";
}
::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 500px) {
  label {
    gap: 10px;
    grid-template-columns: 65px calc(100% - 70px);
  }
}
