main.Cart {
  height: 500px;
  display: grid;
  padding: 0 30px;
  place-items: center;
}

.full,
.empty {
  width: 100%;
  border-radius: 10px;
  background-color: var(--primary);
}
.full {
  display: grid;
  min-height: 50%;
  padding: 10px 20px;
  align-items: center;
}
.wrapper {
  height: 90%;
  overflow: auto;
  display: grid;
  gap: 10px;
}
.full a {
  align-self: end;
  justify-self: center;
}

.empty {
  color: #080a0d;
  min-height: 320px;
  text-align: center;
  padding-bottom: 50px;
}
.empty img {
  width: 200px;
  height: 150px;
}
.empty a {
  margin: 20px auto 0;
}
@media (max-width: 500px) {
  .empty {
    min-height: auto;
  }
  .empty img {
    width: 150px;
    height: 120px;
  }
  .empty h2 {
    font-size: 20px;
  }
  .empty a {
    width: 150px;
  }
}

.cartProduct {
  height: 50px;
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  background-color: var(--gray);
  justify-content: space-between;
}
.cartProduct button {
  height: 24px;
}
.detail {
  gap: 10px;
  display: flex;
  align-items: center;
}
.detail img {
  width: 32px;
  height: 32px;
}
.price {
  margin-left: 20px;
  color: var(--secondary);
}
