@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

footer {
  align-items: end;
  padding: 25px 100px 15px;
  background-color: rgb(23, 22, 22);
  font-family: "Source Sans Pro", sans-serif;
}
footer a,
footer p {
  font-size: 13px;
  color: var(--gray);
}
footer a:hover {
  color: var(--secondary);
}

.prim {
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.copyrights {
  font-size: 14px;
}

@media (max-width: 767px) {
  footer {
    padding: 30px 80px;
    text-align: center;
  }
  .prim {
    margin-bottom: 40px;
  }
  .column a {
    font-size: 18px;
  }
  .column h4 {
    font-size: 22px;
  }
  .info {
    gap: 35px;
    flex-direction: column;
  }
}
