nav {
  --bg: #2b2c2d;
  letter-spacing: 1.5px;
  flex-wrap: wrap;
  background-color: var(--bg);
  padding: 0 30px;
  display: flex;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 9999;
  font-weight: 900;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 20px;
  letter-spacing: 2px;
}
.logo span {
  color: var(--secondary);
}
.avatar {
  position: relative;
}
.avatar > button {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--gray);
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.avatar img {
<<<<<<< HEAD
  pointer-events: none;
=======
  width: 100%;
>>>>>>> 078a5b8463888cb4889a2ff7fb1b506cce17e80d
}
.cart {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
}
.dot::before {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--secondary);
}

.links {
  gap: 35px;
  display: flex;
  align-items: center;
}
.links a {
  will-change: color;
  transition: color 0.3s;
}
.links a:focus-visible,
.links a:hover {
  color: var(--secondary);
}

nav svg {
  will-change: fill;
  transition: fill 0.3s;
}
nav svg:hover {
  fill: var(--secondary);
}

.dropdown {
  top: 35px;
  z-index: 9999;
  display: none;
  text-align: left;
  min-width: 160px;
  position: absolute;
  will-change: display;
  background-color: var(--bg);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
.dropdown a {
  display: block;
  padding: 12px 16px;
}

.submenu {
  position: relative;
}
.submenu:hover .dropdown,
.submenu.open .dropdown {
  display: block;
}

@media (max-width: 767px) {
  nav {
    padding: 0 15px;
  }
  .icons {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  .linksToggler {
    width: 24px;
    height: 21px;
  }
  .links {
    display: none;
    position: absolute;
    top: 100%;
    background-color: inherit;
    flex-direction: column;
    right: 0;
    padding: 15px;
  }
  .dropdown {
    top: 0;
    right: 125px;
  }
  .links .avatar,
  .links .cart {
    display: none;
  }
}

.avatarDrop {
  position: absolute;
  background-color: var(--bg);
  border-radius: 0;
  text-align: center;
  padding: 20px;
  right: -41px;
  top: 41px;
  display: none;
  gap: 20px;
}
.avatar.open .avatarDrop {
  display: grid;
}
.avatarDrop li > *:focus-visible,
.avatarDrop li > *:hover {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .icons {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .links {
    gap: 20px;
  }
}
