main.settings {
  height: 700px;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.valid,
.error {
  text-align: center;
}
.valid {
  color: green;
}
.error {
  color: red;
}
