main.sign {
  background-image: url(../img/sign-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  place-items: center;
  height: 700px;
}

.reset {
  outline: none;
  font-size: 14px;
  text-align: center;
  will-change: color, text-decoration;
}
.reset:focus-visible,
.reset:hover {
  color: var(--secondary);
  text-decoration: underline;
}
